* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url('../../resources/media/pattern.jpeg');
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

.section_one h2 {
    background-color: mediumspringgreen;
}

.section_two h2 {
    background-color: lightcoral;
}

.section_three h2 {
    background-color: skyblue;
}